.mainNavTemp{
    background-color: rgba(255,255,255,1);
    border-top: rgba(221,221,221,1) 1px solid;
    text-align: center;
}
.mainNavTemp i{
    display: block;
}
.goTopTemp{
    position: fixed;
    right: 2em;
    bottom: 4em;

}
.topBannerTemp{
    background-color: #0097FF;
    height: 90px;
    margin-bottom: 0;
}
.fixed-top{
    margin-top: 20px;
}
.recommendTemp{
    text-align: center;
    font-size: 1.5em;
}


/* 回到顶部按钮的样式 */
.scrollTopZone {
    z-index: 8;
    margin: 0;
    position: fixed;
    right: 3rem;
    bottom: 8rem;
    cursor: pointer;
    width: 0rem;
    height: 0rem;
    background: rgba(0,151,255,1);
    color: rgba(0,151,255,1);
    font-size: 2rem;
    text-align: center;
}
/*底部主导航*/
.mainNav{
    border-top:rgba(221,221,221,1) 1px solid;
    background-color: rgba(255,255,255,1);
}
.mainNav i{
    display: block;
    margin: 0.4rem;
    font-size: 2rem;
}

/*顶部*/
.topBanner{
    background-color: rgba(0,151,255,1);
    overflow: auto;
}
/*地理信息*/
.currentLoc{
    height: 60px;
    line-height: 60px;
}

.foodCategoryTemp img{
    display: block;
}

.lists img{
    width: 100%;
    max-width: 150px;
}
.bannerTemp{
    background-color: ghostwhite;
    width: 95%;
    height: 180px;
    padding-top: 20px;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.supermemberTemp{
    background-color: blanchedalmond;
    width: 95%;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
}
.recommendTypeTemp{
    margin-bottom: 20px;
}
